* {
    box-sizing: border-box;
    color: rgb(15, 75, 29);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
}

body {
    background-image: linear-gradient(rgb(167, 212, 255), rgb(226, 255, 199), rgb(182, 199, 247), rgb(228, 255, 152));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 1em;
}
h1 {
    color: rgb(12, 71, 27);
    font-size: xx-large;
    text-align: center;
    padding: 10px;
} 
h2 {
    font-weight: bold;
}
#skills li, .menu li, #projects li {
    border: 3px solid gray;
    list-style: none;
    margin: 10px;
    padding: 20px;
    height: 70px;
    width: 200px;
    text-align: center;
    border-radius: 5px
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    
}
.menu li {
    background-image: linear-gradient(gray, white);
}
footer {
    background-color: rgb(204, 203, 203);
}

#projects li {
    border: 3px solid gray;
    width: 500px;
    height: 100px;
}
#experience {
    width: 500px;
}
#skills li{
    display: inline-block;
}
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.img_div {
    justify-content: center;
}
#name {
    border: 5px solid rgb(153, 153, 163);
}
#email {
    border: 5px solid rgb(153, 153, 163);
}
#message {
    border: 5px solid rgb(153, 153, 163);
}
#messages ul {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
#messages button {
    margin-left: 5px;
}


@media (max-width: 4000px) {
    .picture{
        align-items: center;
        width: 300px;
    }
    .img_div {
        display: flex;
        align-items: center;
    }
}
@media (max-width: 1100px) {
    .picture {
        width: 200px;
    }
    
}
@media (max-width: 700px) {
    
    #projects li {
        width: 410px;
        height: 130px;
    }
    
    .menu, #skills ul, .img_div, h1, #about {
        display: flex;
        flex-direction: column;
        align-content: space-between;
    }
}