body{
    background-color: rgb(228, 235, 235);
    color: rgb(11, 11, 14);
    font-family: "Halvetica", sans-serif;
    margin: 20px;
}

h1 {
    font-family: "Halvetica", sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin: 40px;
    color: rgb(90, 80, 72);
    text-align: left;
}
h2 {
    background-color: rgb(224, 224, 197);
    font-family: "Halvetica", sans-serif;
    font-size: large;
    font-weight: 300;
    text-align: center;
    color: rgb(8, 1, 27);
    padding: 10px;
    height: 25px;
    width: 150px;
    border: 3px solid rgb(117, 124, 105);
    border-radius: 10px;
    margin: 30px;
    margin-left: 30px;
}

ul li{
    display: inline-block;
    padding: 5px;
    height: 25px;
    width: 150px;
    border: 3px solid rgb(117, 124, 105);
    border-radius: 10px;
    margin: 3px;
    margin-left: 50px;
    text-align: center;
   
}
#about {
    text-align: start;
    font-family: "Halvetica", sans-serif;
    font-size: larger;
    padding: 10px;
    height: 110px;
    width: 400px;
    border: 3px solid rgb(117, 124, 105);
    border-radius: 10px;
    margin: 30px;
    margin-left: 30px;
}
#connect {
    text-align: center;
    font-family: "Halvetica", sans-serif;
    padding: 10px;
    height: 30px;
    width: 250px;
    border: 3px solid rgb(117, 124, 105);
    border-radius: 10px;
    margin: 30px;
    margin-left: 30px;
}
label {
    font-size: larger;
    color: rgb(70, 53, 11);
    padding: 2px;
    margin: 5px;
}
input {
    border: 2px solid gray;
    padding: 2px;
    margin: 5px;
}
textarea {
    border: 2px solid gray;
    padding: 2px;
    margin: 5px;
}
button {
    border: 2px solid gray;
    padding: 2px;
    margin: 25px;
}
#experience{
    display: inline-block;
    padding: 10px;
    height: 25px;
    width: 280px;
    border: 3px solid rgb(117, 124, 105);
    border-radius: 10px;
    margin: 10px;
    flex-direction: column;
    
   
}
footer {
    background-color: rgb(208, 219, 226);
    padding: 10px;
    height: 25px;
    width: 200px;
    border: 3px solid rgb(139, 139, 155);
    border-radius: 10px;   
}
.container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-left: 100px;
    padding: 10px;
    width: 350px;
    height: 35px;
    align-items: start;
    font-family: "Halvetica", sans-serif;
    font-size: large;
}
.messageForm {
    display: grid;
    justify-content: space-between;
    gap: 20px;
    margin: 10px;
    margin-left: 20px;
}
.grid-item{
    margin-left: 10px;
}

#repoList {
    display: inline-block;
    padding: 5px;
    height: 45px;
    width: 250px;
    border: 3px solid rgb(117, 124, 105);
    border-radius: 10px;
    margin: 3px;
    margin-left: 50px;
    text-align: center;
}



@media (max-width: 4000px) {
    body{
        background-color: rgb(224, 236, 225);

    }
    .picture {
        display: inline-block;
        width: 320px;
        margin: 5px
    }
    
    
}
@media (max-width: 1100px) {
    body {
            background-color: rgb(234, 245, 255);
        }
    .picture {
            display: inline-block;
            width: 200px;
            margin: 5px;
        }
    h2{
        background-color: rgb(195, 200, 211);
        border: 3px solid rgb(71, 80, 117);
    }
    #about{
        border: 3px solid rgb(71, 80, 117);
    }
    #experience{
        border: 3px solid rgb(71, 80, 117);
    }
    ul li{
        border: 3px solid rgb(71, 80, 117);
    }
    #connect{
        border: 3px solid rgb(71, 80, 117);
    } 
    #repoList{
        display:flex;
        flex-direction: column;
        border: 3px solid rgb(71, 80, 117);
    } 
}
      
@media (max-width: 700px){
    ul li {
        display: grid;
        justify-content: start;
        border: 3px solid rgb(117, 71, 81);
        
    }
    .container {
        display: grid;
        justify-content: space-between;
    }
    body {
        background-color: rgb(243, 235, 238);
    }
    .picture{
        display:flex;
        flex-direction: column;
        width: 150px;
        margin: 10px;
        margin-left: 100px;
    }
   
    #about{
        border: 3px solid rgb(117, 71, 81);
        width: 250px;
        height: 200px;
    }
    #experience{
        border: 3px solid rgb(117, 71, 81);
    }
    #connect{
        border: 3px solid rgb(117, 71, 81);
    }
    h2{
        background-color: rgb(207, 195, 199);
        border: 3px solid rgb(117, 71, 81);
    } 
    #repoList{
        border: 3px solid rgb(117, 71, 81);
    }   
}
