* {
    box-sizing: border-box;
    color: rgb(12, 71, 27);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-left: 7px;
    margin-right: 5px;
}
body {
    background-color: rgb(204, 198, 179);
    background-image: url("https://github.com/Elena-277/fenrir-intro/blob/main/images/IMG_8451.jpg?raw=true");
    background-repeat: no-repeat;
    background-position: center;
}
h1 {
    color: rgb(12, 71, 27);
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    margin-left: 50px;
    padding: 10px;
} 
h2 {
    font-weight: bold;
}
.menu li, #projects li, #experience {
    border: 2px solid gray;
    list-style: none;
    margin: 5px;
    padding: 20px;
    height: 85px;
    width: 270px;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(white, gray);
}
#connect, .messageForm {
    background-color: rgb(204, 198, 179);
}
ul {
    padding-inline-start: 0px;
}
#skills li {
    border: 2px solid gray;
    list-style: none;
    margin: 10px;
    padding: 20px;
    height: 65px;
    width: 170px;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(white, gray);
}
#messages li {
    list-style: none;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.menu li {
    background-image: linear-gradient(gray, white);
}
.menu li :hover {
    color: rgb(254, 255, 212);
}
#projects li :hover {
    color: rgb(254, 255, 212);
}
footer {
    background-color: rgb(182, 179, 179);
    text-align: center;
}
#projects li {
    border: 2px solid gray;
    width: 500px;
    height: 100px;
}
#experience {
    width: 500px;
}
#skills li{
    display: inline-block;
}
#about {
    background-color: rgb(204, 198, 179);
    display: flex;
    flex-direction: row;
    text-align:justify;
    margin-left: 300px;
    margin-right: 300px;
    padding: 20px;
    align-content: center;
}
.picture {
    border: 3px solid rgb(12, 71, 27);
    border-radius: 200px;
} 
#name {
    border: 3px solid rgb(153, 153, 163);
    border-radius: 10px;
}
#email {
    border: 3px solid rgb(153, 153, 163);
    border-radius: 10px;
}
#message {
    border: 3px solid rgb(153, 153, 163);
    border-radius: 10px;
}
#messages ul {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
#messages button {
    margin-left: 5px;
}
button {
    background-image: linear-gradient(white, gray);
    border: 5px solid gray;
    border-radius: 10px;
}
input, #message {
    color: black;
    font-size: x-large;
}

@media (max-width: 4000px) {
    .picture {
        width: 250px;
        margin-top: 10px;
        margin-left: 45px;
        margin-right: 100px;
    }
    #about {
        display: flex;
        align-content: space-around;
        margin-left: 2px;
        margin-right: 2px;
    }
    #about p {
        justify-content: center;
        width: 1000px;
        margin-left: 2px;
        margin-right: 2px;
    }
}
@media (max-width: 1400px) {
    * {
        font-size: large;
    }
    .menu li {
        height: 50px;
        width: 200px;
        display: inline-block;
        padding: 10px;
    }
    .picture {
        width: 200px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #about {
        display: flex;
        justify-content:space-between;
        margin-left: 2px;
        margin-right: 2px;
    }
    #about p {
        width: 800px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu {
        flex-direction: column;
        display: inline-block;
        align-items: center;
    }
    h2 {
        background-color: rgb(204, 198, 179);
        width: min-content;
    }
    
}
@media (max-width: 920px) {
    * {
        font-size: large;
    }
    h1 {
        text-align: center;
        margin-left: 0px;
    }
    .menu li {
        height: 50px;
        width: 210px;
    }
    .picture {
        width: 200px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #about {
        display: flex;
        justify-content:space-between;
        margin-left: 2px;
        margin-right: 2px;
    }
    #about p {
        width: 460px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}
@media (max-width: 700px) {
    h1 {
        text-align: center;
        margin-left: 0px;
    }
    #projects li, #experience{  
        width: auto;
        height: auto;
    }
    .menu, #skills li, .img_div, h1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
    }
    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #about p {
        width: auto;
    }
    .picture {
        width: 150px;
        align-self: center;
    }
    
}